@import "../mixins/flex";
@import "../colors";

.num_wrapper {
  position: fixed;
  top: 0;
  background-image: linear-gradient(rgb(0 0 0 / 0.7), rgb(0 0 0 / 0.5));
  width: 100vw;
  height: 100vh;
  @include flex(column, flex-start, center);
  padding: 1rem;
  z-index: 999;
}
.num_hidden {
  opacity: 0;
  visibility: hidden;
  .num_card {
    translate: 0 -20%;
  }
}
.num_visible {
  opacity: 1;
  visibility: visible;
  .num_card {
    translate: 0;
    transition: translate 0.5s 0.02s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}
.num_card {
  width: 100%;
  max-width: 960px;
  background-color: #e8fef7;
  padding: 3rem 0;
  @include flex(column, center, center);
  border-radius: 10px;
  z-index: 90;
  margin: 5rem 0 0;
}
.greeting {
  @include flex(column, center, center);
  margin: 0 0 3rem 0;
  @media (min-width: 768px) {
    width: 70%;
  }
}
.user {
  font-size: 2rem;
  text-align: center;
  margin: 0 0 1rem 0;
  span {
    text-transform: uppercase;
    color: #12be8b;
  }
}
.user_message {
  margin: 0 auto;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
}

.input_wrap {
  @include flex(row, space-between, center);
  width: 90%;
  gap: 10px;
}

.form {
  @include flex(column, space-around, center);
  margin: 0 0 4rem;
  gap: 35px;
  width: 100%;
  @media (min-width: 768px) {
    width: 70%;
  }
}

.input_one {
  @include flex(column, center, center);
  input {
    padding: 0.8rem 0.2rem;
    width: 70px;
    border: none;
    background-color: hsl(162, 100%, 77%);
    border-radius: 10px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 900;
    &:focus {
      background-color: #1feeb0;
    }
    &::-webkit-outer-spin-button {
      appearance: none;
      margin: 0;
    }
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }
    [type="number"] {
      appearance: textfield;
      -moz-appearance: textfield;
    }
  }
}
.button_wrapper {
  @include flex(row, center, center);
  width: 100%;
}
.select_button,
.num_button {
  margin: 0.5rem;
  padding: 0.5rem;
  display: block;
  text-align: center;
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: 700;
  width: 100%;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid transparent;
  flex-grow: 1;
}
.show {
  visibility: visible;
}
.hide {
  visibility: hidden;
}

.select_button {
  background-color: $buttonOne;
  color: #0d4735;
  box-shadow: 0 3px 15px rgb(13, 71, 53, 0.5);
  &:hover {
    background-image: linear-gradient(
      rgb(255 255 255 / 0.3),
      rgb(255 255 255 / 0.2)
    );
  }
}
.num_button {
  background-color: #d26246;
  color: #f2f3f1;
  box-shadow: 0 3px 15px rgba(210, 98, 70, 0.491);
  &:hover {
    background-image: linear-gradient(
      rgb(255 255 255 / 0.3),
      rgb(255 255 255 / 0.2)
    );
  }
}
