@import "../mixins/flex";

.num_wrapper {
  position: absolute;
  top: 0;
  background-image: linear-gradient(rgb(0 0 0 / 0.7), rgb(0 0 0 / 0.5));
  width: 100vw;
  height: 100vh;
  @include flex(column, center, center);
  padding: 1rem;
}
.num_card {
  width: 100%;
  max-width: 1100px;
  background-color: #e8fef7;
  padding: 1rem;
  @include flex(column, center, center);
  border-radius: 10px;
  z-index: 90;
}
.greeting {
  @include flex(column, center, center);
  margin: 0 0 2rem 0;
}
.user {
  font-size: 3rem;
  text-align: center;
  span {
    text-transform: uppercase;
  }
}
.user_message {
  margin: 0 auto;
  text-align: center;
  font-size: 1.6rem;
}
.select_button,
.num_button {
  margin: 0.5rem;
  padding: 0.5rem;
  display: block;
  text-align: center;
  border-radius: 10px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
.show {
  visibility: visible;
}
.hide {
  visibility: hidden;
}
.num_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.num_item {
  list-style-type: none;
  padding: 1rem;
  text-align: center;
  background-color: #7fffd9;
  border-radius: 10px;
  color: #0d4735;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  &:hover {
    background-color: #52ffcb;
  }
}
.select_button {
  background-color: #7fffd9;
  color: #0d4735;
  box-shadow: 0 3px 15px rgb(13, 71, 53, 0.5);
}
.num_button {
  background-color: #d26246;
  color: #f2f3f1;
  box-shadow: 0 3px 15px rgba(210, 98, 70, 0.491);
  width: 100%;
}
