@import "../mixins/flex";

.zero_message {
  width: 80%;
  max-width: 50rem;
  min-height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  @include flex(column, center, center);
  border-radius: 20px;
}
.para {
  font-size: max(4vw, 2rem);
  text-align: center;
  margin: 0 0 2rem 0;
}
.goback_button {
  background-color: #ffeb3b;
  border: 1px solid transparent;
  padding: 1rem 1rem;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 20px;
  font-size: 1.2rem;
  box-shadow: 0 4px 8px rgb(175, 163, 50);
  &:hover {
    background-image: linear-gradient(
      rgb(255 255 255 / 0.3),
      rgb(255 255 255 / 0.2)
    );
  }
}
