/* $primaryColor: #ffffff;
$secondaryColor: #123232;
$BgOne: #e8fef7;
$BgTwo: #ffffff;
$BgThree: #ff00ff;
$buttonOne: hsl(162, 100%, 58%);
$buttonTwo: #ffeb3b;
$buttonThree: #d26246; */
$primaryColor: #142126;
$secondaryColor: #2e1c1c;
$inputColor: #ffffff;
$BgOne: #fff5f6;
$BgOneLite: #e8f8ff;
$BgTwo: #79ccee;
$BgTwoGradient: linear-gradient(#79ccee, #f3fcffa9);
$BgThree: #489fc2;
$buttonOne: #ff7f81;
$buttonTwo: #fde8e9;
$buttonThree: #fdb515;
