.app_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.app_title {
  color: #161212;
  text-transform: uppercase;
  font-weight: 300;
}
.check_answer {
  background-color: #7fa5ff;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
