@use "interactions/selections";
@use "interactions/table";
@import "mixins/flex";
@import "../styles/colors";

.container {
  padding: 3rem 0 0;
  @include flex(column, flex-start, center);
  background-image: $BgTwoGradient;
  min-height: 100vh;
}
.grid_container {
  display: flex;
  gap: 0.3rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  width: 80%;
}
.grid_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  border: 1px solid transparent;
  background-image: linear-gradient(
    145deg,
    rgb(214, 214, 214),
    rgb(245, 245, 245)
  );
  cursor: pointer;
  border-radius: 20px;
  font-size: 1.2rem;
  box-shadow: 0 4px 10px rgb(0 0 0 / 0.2), 0 0 0 6px rgb(236, 236, 236) inset;
  &:hover {
    scale: 1.05;
    transition: scale 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}
.grid_nav {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  gap: 6px;
  margin: 8px;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  &__disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  svg {
    font-size: 24px;
    position: relative;
    transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }
  &[data-name="next"] {
    &:hover {
      svg {
        translate: 5px 0;
        font-size: 32px;
      }
    }
  }
  &[data-name="prev"] {
    &:hover {
      svg {
        translate: -5px 0;
        font-size: 32px;
      }
    }
  }
}
.answer_container {
  @include flex(r, center, center);
  gap: 12px;
  font-size: 1.5rem;
}
.answer_field {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid yellow;
  outline-color: transparent;
  outline-width: 0;
  width: fit-content;
  max-width: 100px;
  height: 40px;
  padding: 1.5rem 0.5rem;
  text-align: center;
}
.selected {
  background-image: linear-gradient(
    145deg,
    hsl(56, 75%, 70%),
    hsl(56, 75%, 90%)
  );
  box-shadow: 0 4px 10px rgb(0 0 0 / 0.2), 0 0 0 6px hsl(56, 80%, 54%) inset;
}
.right {
  background-image: linear-gradient(
    145deg,
    rgb(121, 238, 213),
    rgba(178, 234, 222, 0.734)
  );
  box-shadow: 0 4px 10px rgb(0 0 0 / 0.2), 0 0 0 6px rgb(97, 240, 209) inset;
}

@media (min-width: 768px) {
  .grid_item {
    font-size: 1.5rem;
  }
}
