.grid_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.3rem;
  margin: 0 auto;
  max-width: 968px;
  justify-content: center;
  align-items: center;
  padding: 3rem 10%;
  background-color: rgb(127, 229, 255);
}
.grid_item {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  min-height: 70px;
  background-image: linear-gradient(
    145deg,
    rgb(157, 237, 255),
    rgb(223, 249, 255)
  );
  cursor: pointer;
  border-radius: 20px;
  font-size: 1.3rem;
  box-shadow: 0 4px 10px rgb(0 0 0 / 0.2), 0 0 0 6px rgb(233, 251, 255) inset;
  &:hover {
    scale: 1.05;
    transition: scale 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}
@media (min-width: 768px) {
  .grid_container {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid_item {
    font-size: 1.5rem;
  }
}
