@use "interactions/selections";
@use "interactions/table";
@import "mixins/flex";
@import "../styles/colors";

.container {
  @include flex(column, center, center);
  background-color: $BgTwo;
  min-height: 100vh;
}
.grid_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.3rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  width: 80%;
  max-width: 65rem;
  @media (min-width: 48rem) {
    grid-template-columns: repeat(10, 1fr);
  }
}
.grid_item {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  min-height: 70px;
  border: 1px solid transparent;
  background-image: linear-gradient(
    145deg,
    rgb(214, 214, 214),
    rgb(245, 245, 245)
  );
  cursor: pointer;
  border-radius: 20px;
  font-size: 1.2rem;
  box-shadow: 0 4px 10px rgb(0 0 0 / 0.2), 0 0 0 6px rgb(236, 236, 236) inset;
  &:hover {
    scale: 1.05;
    transition: scale 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}
.selected {
  background-image: linear-gradient(
    145deg,
    hsl(56, 75%, 70%),
    hsl(56, 75%, 90%)
  );
  box-shadow: 0 4px 10px rgb(0 0 0 / 0.2), 0 0 0 6px hsl(56, 80%, 54%) inset;
}
.right {
  background-image: linear-gradient(
    145deg,
    rgb(121, 238, 213),
    rgba(178, 234, 222, 0.734)
  );
  box-shadow: 0 4px 10px rgb(0 0 0 / 0.2), 0 0 0 6px rgb(97, 240, 209) inset;
}

@media (min-width: 768px) {
  .grid_item {
    font-size: 1.5rem;
  }
}
