.select_container {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dropdown_container {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  height: 80px;
}
.dropdown_label {
  color: rgb(0 0 0 / 1);
}
.dropdown {
  background-color: blue;
  width: 100%;
  top: 10px;
  span {
    display: block;
  }
}
.hidden {
  visibility: hidden;
}
.show {
  visibility: visible;
}

.dropdown_value {
  background-color: gray;
}
